<div fxLayout="row" fxLayoutAlign="center center">
    <p><b>{{getWeekDay()}}</b></p>
</div>

<div fxLayout="column" fxLayoutAlign="space-between none">
    <div fxLayout="row" fxLayoutAlign="space-between end">
        <p *ngFor="let time of hours">{{getHour(time)}}</p>
    </div>
    <div *ngFor="let listOfClasses of sortedClasses">
        <pzd-classes (click)="select(classes)" *ngFor="let classes of listOfClasses" class="classes-display" [ngStyle]="getPosition(classes.classes)" [classes]="classes"></pzd-classes>
    </div>
</div>
