<div id="container"
     fxLayout="row"
     fxLayout.xs="column"
     fxFlexFill
     fxLayoutAlign="center center">
  <mat-card id="homeCard" fxFlex="50">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Hello Card</mat-card-title>
        <mat-card-subtitle>This is a subtitle</mat-card-subtitle>
      </mat-card-title-group>
      <img mat-card-avatar src="assets/cat.png" alt="cap" />
    </mat-card-header>
    <mat-card-content> And here I am, with the content </mat-card-content>
  </mat-card>
</div>
