<pzd-classes-schedule></pzd-classes-schedule>
<pzd-class-grid-day [weekDay]="weekday.Monday"></pzd-class-grid-day>
<pzd-class-grid-day [weekDay]="weekday.Tuesday"></pzd-class-grid-day>
<pzd-class-grid-day [weekDay]="weekday.Wednesday"></pzd-class-grid-day>
<pzd-class-grid-day [weekDay]="weekday.Thursday"></pzd-class-grid-day>
<pzd-class-grid-day [weekDay]="weekday.Friday"></pzd-class-grid-day>
<pzd-class-grid-day [weekDay]="weekday.Saturday"></pzd-class-grid-day>
<pzd-class-grid-day [weekDay]="weekday.Sunday"></pzd-class-grid-day>
