<table mat-table [dataSource]="classesList" class="mat-elevation-z8">
    <ng-container matColumnDef="weekDay">
        <th mat-header-cell *matHeaderCellDef> Dzień tygodnia </th>
        <td mat-cell *matCellDef="let element"> {{getWeekDayName(element[0].weekDay)}} </td>
    </ng-container>
    <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef> Rozpoczęcie zajęć </th>
        <td mat-cell *matCellDef="let element"> {{getTime(element[0].startTime)}} </td>
    </ng-container>
    <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef> Zakończenie zajęć </th>
        <td mat-cell *matCellDef="let element"> {{getTime(element[0].endTime)}} </td>
    </ng-container>
    <ng-container matColumnDef="parity">
        <th mat-header-cell *matHeaderCellDef> Parzystość </th>
        <td mat-cell *matCellDef="let element"> {{getParity(element[0].parity)}} </td>
    </ng-container>
    <ng-container matColumnDef="building">
        <th mat-header-cell *matHeaderCellDef> Budynek </th>
        <td mat-cell *matCellDef="let element"> {{element[0].building}} </td>
    </ng-container>
    <ng-container matColumnDef="room">
        <th mat-header-cell *matHeaderCellDef> Sala </th>
        <td mat-cell *matCellDef="let element"> {{element[0].room}} </td>
    </ng-container>
    <ng-container matColumnDef="groupKey">
        <th mat-header-cell *matHeaderCellDef> Nr grupy </th>
        <td mat-cell *matCellDef="let element"> {{element[0].groupKey}} </td>
    </ng-container>
    <ng-container matColumnDef="typ">
        <th mat-header-cell *matHeaderCellDef> Typ zajęć </th>
        <td mat-cell *matCellDef="let element"> {{element[0].typ}} </td>
    </ng-container>
    <ng-container matColumnDef="host">
        <th mat-header-cell *matHeaderCellDef> Zapytania/prowadzący </th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" *ngIf="element[0].host === undefined" (click)="selectHost(element[0])">Wybierz prowadzącego</button>
            <p *ngIf="element[0].host !== undefined">{{element[0].host.degree}} {{element[0].host.firstName}} {{element[0].host.lastName}}</p>
        </td>
    </ng-container>
    <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <mat-icon color="primary" class="pointer" *ngIf="element[1]" (mouseover)="mouseover(element, 1)">mode_edit_outline</mat-icon>
            <mat-icon color="primary" class="pointer" *ngIf="!element[1]" (mouseleave)="mouseleave(element, 1)" (click)="edit(element[0])">border_color</mat-icon>
            <mat-icon color="primary" class="pointer" *ngIf="element[2]" (mouseover)="mouseover(element, 2)">remove_circle_outline</mat-icon>
            <mat-icon color="primary" class="pointer" *ngIf="!element[2]" (mouseleave)="mouseleave(element, 2)" (click)="delete(element[0])">remove_circle</mat-icon>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div fxLayout="row" fxLayoutAlign="center start" class="add-button">
    <mat-icon color="primary" class="pointer" *ngIf="addButton" (mouseover)="mouseoverAddButton()">add_circle_outline</mat-icon>
    <mat-icon color="primary" class="pointer" *ngIf="!addButton" (mouseleave)="mouseleaveAddButton()" (click)="add()">add_circle</mat-icon>
</div>
